BOT_TOKEN=your-telegram-bot-token

MNMS_MYSQL_HOST=
MNMS_MYSQL_PORT=3306
MNMS_MYSQL_USER=
MNMS_MYSQL_PASSWORD=
MNMS_MYSQL_DATABASE=mnms_prod

CHATBOT_MYSQL_HOST=
CHATBOT_MYSQL_PORT=
CHATBOT_MYSQL_USER=master
CHATBOT_MYSQL_PASSWORD=
CHATBOT_MYSQL_DATABASE=chatBot_DB
