BOT_TOKEN=

TELEGRAM_ANNOUNCEMENT_CHAT_ID=
TELEGRAM_COMMUNITY_CHAT_ID=
ANNOUNCEMENT_URL=https://t.me/+FQkKfTav5YFlYjc1
COMMUNITY_URL=https://t.me/+op8TPEZI9txhZDZl

WEBSITE_URL=https://nightmens.com/
SUPPORT_URL=https://t.me/mnmens_official

TELEGRAM_PARTNERS_CHANNEL_ID=-1004403977899
TELEGRAM_PARTNERS_MESSAGE_ID=11
